<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <p>
      <video id="preview" autoplay controls width="100%"></video>
    </p>
    <script src="/webrtc.js" type="application/javascript"></script>
    <script src="/signal_channel.js" type="application/javascript"></script>
    <script src="/receive.js" type="application/javascript"></script>
  </body>
</html>
