<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
     body {
         padding: 0;
         margin: 0;
     }
    </style>
  </head>
  <body>
    <p>
      <video id="preview" autoplay controls width="100%"></video>
    </p>
    <script src="/public/webrtc.js" type="application/javascript"></script>
    <script src="/public/signal_channel.js" type="application/javascript"></script>
    <script src="/public/receive.js" type="application/javascript"></script>
  </body>
</html>
