<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <select id="devices"></select>
    <button id="start">Start</button>
    <p>
      <video id="preview" width="100%" autoplay></video>
    </p>
    <form id="capabilities"></form>
    <script src="/public/webrtc.js" type="application/javascript"></script>
    <script src="/public/signal_channel.js" type="application/javascript"></script>
    <script src="/public/send.js" type="application/javascript"></script>
  </body>
</html>
